html{
	background-image: url("../images/comppattern2.png");
	height: 100%;
}

.browsehappy{
	font: 23px fira_sanslight, sans-serif;
}

body{
	height: 100%;	
}

/*-------------------------header----------------------------------*/
.header{
	height: 47px;	
	padding: 35px 0 35px 0;
	background:url("../images/line.png") #eff3f7;
	background-position: center bottom; 	
	background-repeat: no-repeat;
	min-width:1200px;
	margin-bottom: 20px;
}

.link{
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
}
.linkLogo{
	float: left;
}
.logo{
	
	background-position: left center; 
}

.social {
	display: block;
	float: right;
	width: 47px;
	height: 47px;
	margin-left: 25px;
	text-indent: -99999px;

}
.vk {	
	background:url("../images/vk1.png");
}
.vk:hover {	
	background:url("../images/vk2.png");
}
.twitter {	
	background:url("../images/tw1.png");
}
.twitter:hover{	
	background:url("../images/tw2.png");
}

.facebook {	
	background:url("../images/facebook1.png");
}

.facebook:hover{	
	background:url("../images/facebook2.png");
}

.github {	
	background:url("../images/github1.png");
}

.github:hover{	
	background:url("../images/github2.png");
}

/*-------------------------wrapper----------------------------------*/
.wrapper{
	overflow: hidden;
	padding:0px 0 120px 0;
	margin: 0 auto;
	min-height: 100%;
	width:1200px;
	height: auto !important;
	box-sizing: border-box;
	
}

.wrapper.nopaddingForHeader{
	padding:20px 0 120px 0;
}
/*-------------------------wrapperLeft----------------------------------*/
.wrapperLeft {
	width: 250px;
	margin: 40px 0 0 120px;
	float: left;
	background-position: left center; 	
}

ul{
	padding: 0;
	margin: 0;
}

ul li 
{
	list-style: none;
}

/*---------------menu--------------------*/
.menu{
	background:#eff3f7;
	margin-bottom: 23px;
	border-radius: 3px;
}

.menu ul li a{
	display: block;
	border-top: 2px solid #3ba8c0;	
	text-decoration:none;

}
.noselectedMenu {
	color: #959aa8;
	font: 21px fira_sansbook, sans-serif;
	line-height: 21px;
	padding: 25px 0px 25px 28px;
}

.menu ul li:first-child a{
	border-top: none;
	border-radius: 3px 3px 0 0;
}
.menu ul li:last-child a{
	border-radius: 0 0 3px 3px;
}

.menu ul li a.noselectedMenu:hover{
	color: #3ba8c0;

}

.selectedMenu {
	color: #ffffff;
	background-color: #3ba8c0;
	font: 23px fira_sansbook, sans-serif;
	line-height: 23px;
	padding: 24px 0px 24px 28px;
}


/*-----------contacts--------------------*/

.contactsHeader {
	color: #fbfcfd;
	background-color: #3ba8c0;
	font: 21px fira_sansbook, sans-serif;
	margin: 0;
	padding-left: 21px;
	line-height: 21px;
	padding: 10px 0px 10px 21px;
	border-radius: 3px 3px 0 0;
}
.contact {
	display: block;
	color: #ffffff;
	font: 17px fira_sansbook, sans-serif;
	line-height: 20px;
	background-position: 42px center;
	padding: 10px 0px 10px 83px;
	text-decoration:none;
	
}
.contact:hover{
	text-decoration:underline;
}
.contact.mail {
	background-color: #41b9d4;
 	background-image: url("../images/mail.png");
 	background-repeat: no-repeat;
}
.contact.tel {
	background-color: #48cbe8;
	background-image: url("../images/tel.png");
 	background-repeat: no-repeat;
}
.contact.skype {
	background-color: #51daf8;
	background-image: url("../images/skype.png");
 	background-repeat: no-repeat;
 	border-radius: 0 0 3px 3px;
}

/*-------------------------wrapperRight----------------------------------*/

.wrapperRight{
	width: 650px;
	margin-left: 430px;
	margin-top: 40px;

}
.block{
	width: 650px;
	background-color: #eff3f7;
	border-radius: 3px 3px 0 0;
	padding-bottom: 45px;
	margin-bottom: 26px;
	padding-top: 22px;
	overflow: hidden;
}
.block:last-child{
	margin-bottom: 0;
} 
.block ul {
	padding-left: 0;	
	margin-top: 27px;
	margin-bottom: 0;
	list-style: none;
}
.headerBlock{
	font: 27px fira_sansbook, sans-serif;
	color: #3ba8c0;
	padding: 0 0 0 22px;
	line-height: 27px;
	border-bottom: 2px solid #3ba8c0;
	display: inline-block;
}


/*-------------------------footer----------------------------------*/
.footer {
	height: 33px;
	padding:23px 0px 23px 0px;
	clear: both;
	background:url("../images/line.png") #eff3f7;
	background-position: center top; 	
	background-repeat: no-repeat;
	min-width: 1200px;
	margin-top: -80px;
}
.inFooter {
	width: 1200px;
	margin: 0 auto;
}
.login {
	width: 26px;
	height: 32px;
	display: block;
	float: left;
	margin-left: 54px;
	background-image:url("../images/login-close.png");
	background-repeat: no-repeat;
}
.login:hover{	
	background-image:url("../images/login-open.png");
	background-repeat: no-repeat;
}
.copyright {
	margin: 0;
	font: 13px fira_sanslight, sans-serif;
	line-height: 32px;
	color: #4a545d;
	text-align: center;
}