html{
	background-image: url("../images/comppattern2.png");
}

body{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 1400;

}

#header{
	height: 47px;	
	background:#eff3f7;
	padding: 36px 0 36px 0;

}

#link{
	width: 960px;
	margin: 0 auto;
}

#logo{
	
	background-position: left center; 
}

#footer{
	width: 1400px;
	background:#eff3f7;
	color: #4a545d;
	text-align: center;
	height: 33px;
	padding:23px 0px 23px 0px;
	margin-top: 34px;
}
#login{
	margin-left: 255px;
	float:left;
}
#footer p{
	margin: 0;
	font: 13px fira_sanslight, sans-serif;
	line-height: 13px;
	padding: 10px 0px 10px 0px;
}
#menu{
	float:left;
	margin-top: 40px;
	margin-left: 221px;
	background:#eff3f7;
	width: 250px;

}
#menu ul{
	padding: 0;
	margin: 0;
}
#menu ul li{
	list-style: none;

}
#menu ul li a{
	display: block;
	border-top: 2px solid #3ba8c0;
	font: 23px fira_sansbook, sans-serif;
	text-decoration:none;
	line-height: 23px;
	padding: 23px 0px 23px 28px;
}
#menu ul li:first-child a{
	border-top: none;
}

#menu ul li a.noselectedMenu:hover{
	color: #3ba8c0;
}

.selectedMenu {
	color: #ffffff;
	background-color: #3ba8c0;
}
.noselectedMenu {
	color: #959aa8;
}
#vk {
	width: 47px;
	height: 47px;
	display: block;
	background:url("../images/vk1.png");
	float: right;
}
#vk:hover{	
	background:url("../images/vk2.png");
}
#twitter {
	width: 47px;
	height: 47px;
	display: block;
	background:url("../images/tw1.png");
	margin-right: 25px;
	float: right;
}
#twitter:hover{	
	background:url("../images/tw2.png");
}
#facebook {
	width: 47px;
	height: 47px;
	display: block;
	background:url("../images/facebook1.png");
	margin-right: 25px;
	float: right;
}
#facebook:hover{	
	background:url("../images/facebook2.png");
}
#github {
	width: 47px;
	height: 47px;
	display: block;
	background:url("../images/github1.png");
	margin-right: 25px;
	float: right;
}
#github:hover{	
	background:url("../images/github2.png");
}

#allBlock{
	margin-left: 530px;
	margin-top: 40px;	
}

.block{
	margin-top: 26px;
	width: 650px;
	background-color: #eff3f7;
	padding-bottom: 22px;
}

.headerBlock{
	font: 27px fira_sansbook, sans-serif;
	color: #3ba8c0;
	padding: 21px 0 21px 0;
	text-align: center;
	margin:0;
	width: 209px;
	height: 27px;
	border-bottom: 2px solid #3ba8c0;
}

.headerBlock.block1{
	width: 342px;	
}

.info{
	margin: 24px 0 46px 228px;
}

.headerInfo{
	float: left;
	margin: 0 16px 15px 0;
	font: 17px fira_sansmedium, sans-serif;
	color:#4a545d;
	line-height: 17px;
}

.textInfo{
	margin: 0 0 15px 0;
	font: 15px fira_sansbook, sans-serif;
	color:#37424d;
	line-height: 17px;
}
.block ul {
	padding-left: 0;	
	margin-top: 27px;
	margin-bottom: 0;
	list-style: none;
}

#imgWork{
	float: left;
	margin-left: 58px;
}

.paragraph {
	padding-left: 124px;
	background-position: 58px top;
}
.paragraph.work {
 	background-image: url("../images/work.png");
 	background-repeat: no-repeat;
}
.paragraph.study {
	 background-image: url("../images/study.png");
	 background-repeat: no-repeat;
}
.paragraph.course {
	 background-image: url("../images/course.png");
	 background-repeat: no-repeat;
}

.headerParagraph{
	font: 17px fira_sansbook, sans-serif;
	color: #4a545d;	
	line-height: 17px;
	word-wrap: normal;
}

.textParagraph{
	font: 15px fira_sanslight, sans-serif;
	color: #4a545d;	
	margin-top: 4px;
	margin-bottom: 24px;
	line-height: 15px;
	word-wrap: normal;
}
#block2{
	margin: 26px 0 82px 0;
}