html{
	background-image: url("../images/comppattern2.png");
	height: 100%;
}

.browsehappy{
	font: 23px fira_sanslight, sans-serif;
}

body{
	height: 100%;	
}

/*-------------------------header----------------------------------*/
header{
	height: 47px;	
	padding: 35px 0 35px 0;
	background:url("../images/line.png") #eff3f7;
	background-position: center bottom; 	
	background-repeat: no-repeat;
	min-width:1200px;
	margin-bottom: -117px;
}

.link{
	width: 1200px;
	margin: 0 auto;
}

.logo{
	
	background-position: left center; 
}

.social {
	width: 47px;
	height: 47px;
	display: block;
	margin-left: 25px;
	float: right;
}
.vk {	
	background:url("../images/vk1.png");
}
.vk:hover {	
	background:url("../images/vk2.png");
}
.twitter {	
	background:url("../images/tw1.png");
}
.twitter:hover{	
	background:url("../images/tw2.png");
}

.facebook {	
	background:url("../images/facebook1.png");
}

.facebook:hover{	
	background:url("../images/facebook2.png");
}

.github {	
	background:url("../images/github1.png");
}

.github:hover{	
	background:url("../images/github2.png");
}


.wrapper{
	overflow: hidden;
	padding:157px 0 120px 0;
	margin: 0 auto;
	min-height: 100%;
	width:1200px;
	height: auto !important;
	box-sizing: border-box;
}
.wrapperLeft {
	width: 250px;
	margin: 40px 0 0 120px;
	float: left;
	background-position: left center; 	
}

/*-------------------------for all----------------------------------*/
ul{
	padding: 0;
	margin: 0;
}

ul li 
{
	list-style: none;
}

/*-------------------------menu----------------------------------*/
.menu{
	background:#eff3f7;
	margin-bottom: 23px;
	border-radius: 3px;
}

.menu ul li a{
	display: block;
	border-top: 2px solid #3ba8c0;	
	text-decoration:none;

}

.menu ul li:first-child a{
	border-top: none;
	border-radius: 3px 3px 0 0;
}

.menu ul li a.noselectedMenu:hover{
	color: #3ba8c0;

}

.selectedMenu {
	color: #ffffff;
	background-color: #3ba8c0;
	font: 23px fira_sansbook, sans-serif;
	line-height: 23px;
	padding: 24px 0px 24px 28px;
}
.noselectedMenu {
	color: #959aa8;
	font: 21px fira_sansbook, sans-serif;
	line-height: 21px;
	padding: 25px 0px 25px 28px;
}

/*-------------------------contacts----------------------------------*/
.contacts{
	border-radius: 3px 3px 0 0;
}
.contactsHeader {
	color: #fbfcfd;
	background-color: #3ba8c0;
	font: 21px fira_sansbook, sans-serif;
	margin: 0;
	padding-left: 21px;
	line-height: 21px;
	padding: 10px 0px 10px 21px;
}
.contact {
	display: block;
	color: #ffffff;
	font: 17px fira_sansbook, sans-serif;
	line-height: 20px;
	background-position: 42px center;
	padding: 10px 0px 10px 83px;
	text-decoration:none;
}
.contact:hover{
	text-decoration:underline;
}
.contact.mail {
	background-color: #41b9d4;
 	background-image: url("../images/mail.png");
 	background-repeat: no-repeat;
}
.contact.tel {
	background-color: #48cbe8;
	 background-image: url("../images/tel.png");
 	background-repeat: no-repeat;
}
.contact.skype {
	background-color: #51daf8;
	background-image: url("../images/skype.png");
 	background-repeat: no-repeat;
}

/*-------------------------wrapperRight----------------------------------*/

.wrapperRight{
	width: 650px;
	margin-left: 430px;
	margin-top: 40px;

}
.block{
	width: 650px;
	background-color: #eff3f7;
	padding-bottom: 22px;
	border-radius: 3px 3px 0 0;
	padding-bottom: 45px;
	margin-bottom: 26px;
}
.block:last-child{
	margin-bottom: 0;
} 
.block ul {
	padding-left: 0;	
	margin-top: 27px;
	margin-bottom: 0;
	list-style: none;
}

.avatar-info{
	margin: 24px 0 46px 0;
	position: relative;
}

.avatar-box{
	position: absolute;
	width: 142px;
	height: 142px;
	top:50%;
	border-radius: 50% 50%;
	overflow: hidden;
	border:5px solid #3ba8c0;
	margin:-71px 0 0 55px;
}
.avatar{
	width: 100%;
}

.info-box{
	padding-left:229px;
}
.headerBlock{
	font: 27px fira_sansbook, sans-serif;
	color: #3ba8c0;
	padding: 20px 0 20px 0;
	text-align: center;
	margin:0;
	width: 209px;
	line-height: 27px;
	border-bottom: 2px solid #3ba8c0;
}
.headerBlock.basicInfo{
	width: 342px;	
}
.headerBlock.newClient{
	width: 650px;
	color: #ffffff;
	background-color: #48cbe8;
	border-bottom: 17px solid #67dffa;
	padding: 46px 0 46px 0;
}
.headerBlock4{	
	font: 40px fira_sansbook, sans-serif;
	color: #ffffff;
	background-color: #48cbe8;
	border-bottom: 15px solid #67dffa;
	padding: 26px 0 26px 0;
	text-align: center;
	margin:0 0 28px 0;
	line-height: 40px;
}
.headerInfo{
	float: left;
	margin: 0 21px 15px 0;
	font: 17px fira_sansmedium, sans-serif;
	color:#4a545d;
	line-height: 17px;

}
.textInfo{
	margin: 0 0 15px 0;
	font: 15px fira_sansbook, sans-serif;
	color:#37424d;
	line-height: 17px;
}
.skills{
	font: 14px proxima_nova_condensedSBd, sans-serif;	
	background-image: url("../images/skills.png");
	color: #ffffff;
	display:inline-block; 
	padding: 3px 14px 3px 14px;
	margin: 0 8px 9px 0;

}
.paragraph {
	padding-left: 124px;
	background-position: 58px center;
	margin-bottom: 27px;
}
.paragraph:last-child{
	margin-bottom: 0;
}
.paragraph.work {
 	background-image: url("../images/work.png");
 	background-repeat: no-repeat;
}
.paragraph.study {
	 background-image: url("../images/study.png");
	 background-repeat: no-repeat;
}
.paragraph.course {
	 background-image: url("../images/course.png");
	 background-repeat: no-repeat;
}
.headerParagraph{
	font: 17px fira_sansbook, sans-serif;
	color: #4a545d;	
	line-height: 17px;
	word-wrap: normal;
}
.textParagraph{
	font: 15px fira_sanslight, sans-serif;
	color: #4a545d;	
	margin-top: 4px;
	line-height: 15px;
	word-wrap: normal;
}

.inBlock3{
	padding:49px 30px 198px 125px;
}

.clientContact{
	float: left;
	margin:0 18px 17px 0;
	width: 190px;
}
.clientMessage{
	margin:0 18px 17px 0;
	width: 400px;
}
.clientContact{
	float: left;
	margin:0 18px 17px 0;
	width: 190px;
}

.nameInputForm {
	font: 19px fira_sanslight, sans-serif;
	color: #959aa8;	
	line-height: 19px;
	margin: 0 0 7px 0;

}
.inputForm {
	font: 12px fira_sanslight, sans-serif;
	color: #48cbe8;	
	line-height: 12px;
	background-color: #fbfcfd;
	border-radius: 2px ;
	border: 1px solid #48cbe8;
	margin: 0 0 17px 0;
	padding: 13px 14px 13px 14px;
}

.inputForm.message{
	height: 182px;	
}
.inputForm.captcha{
	height: 77px;
	float: left;
	width: 160px;
	margin:0 18px 17px 0;
	padding: 0;
}
.inputForm.captcha.inputCode{
	height: 12px;
	margin: 18px 0 18px 0;
	padding: 9px;
}
.buttonAll{
	clear: both;
}
.button{
	padding: 7px 0 7px 0;
	text-align: center;
	font: 19px fira_sansbook, sans-serif;
	color: #ffffff;	
	line-height: 19px;	
	margin:0 140px 0 0;
	float: left;
}

.button.send{	
	width: 136px;
	background-image: url("../images/send.png");	
}
.button.clear{
	width: 124px;
	background-image: url("../images/clear.png");
	margin: 0;
}

.block4{
	margin: 0 305px 0 305px;
	background-color: #eff3f7;
	width: 590px;
}

.paragraphBlock4{
	font: 36px fira_sanslight, sans-serif;
	line-height: 36px;
	text-align: center;
	color: #959aa8;
	margin:0px;

}
.textBlock4{
	font: 17px fira_sanslight, sans-serif;
	line-height: 17px;
	text-align: center;
	color: #48cbe8;
	width: 422px;
	background-color: #ffffff;
	border-radius: 2px ;
	border: 1px solid #48cbe8;
	margin:20px 83px 24px 83px;
	padding: 21px 0 21px 0;
}

.buttonLogin{
	padding: 9px 0 9px 0;
	text-align: center;
	font: 36px fira_sansbook, sans-serif;
	line-height: 36px;
	color: #ffffff;
	background-image: url("../images/login.png");
	width: 226px;
	border-radius: 3px;
	margin:10px 182px 0px 182px;
}

/*-------------------------footer----------------------------------*/
footer {
	height: 33px;
	padding:23px 0px 23px 0px;
	clear: both;
	background:url("../images/line.png") #eff3f7;
	background-position: center top; 	
	background-repeat: no-repeat;
	min-width: 1200px;
	margin-top: -80px;
}
.inFooter {
	width: 1200px;
	margin: 0 auto;
}
.login {
	width: 26px;
	height: 32px;
	display: block;
	float: left;
	margin-left: 54px;
	background-image:url("../images/login-close.png");
	background-repeat: no-repeat;
}
.login:hover{	
	background-image:url("../images/login-open.png");
	background-repeat: no-repeat;
}
.copyright {
	margin: 0;
	font: 13px fira_sanslight, sans-serif;
	line-height: 32px;
	color: #4a545d;
	text-align: center;
}